h1{
	
	text-align:center;
	font-size: 80px;
	font-family:italic;
	background-color: #ffffff;
	padding: 5px;
}

h2{
	text-align:center;
	font-size: 40px;
	font-family:italic;
	background-color: #ffffff;
	padding: 5px;
}
h3{
	text-align:center;
	font-size: 30px;
	font-family:italic;
	}
	p{
		text-align:center;
	}

   img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
 p,ul{

	font-size: 30px;
	font-family:italic; 

 }  
 
.grid_img{
  width:350px;
  height:350px;
}

/*Navigation */
.grid-container1{
display: grid;
grid-template-columns: 150px auto;
background-color: black;


}
.grid-container1 > div {

text-align: center;
padding: 20px 0;
font-size: 20px;
border: 0px solid  white;
font-family: sans-serif;

}
.wrap a
{


font-size: 20px;
color: grey;
padding: 14px 16px;
text-decoration: none;
}


.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
list-style: none;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;

}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover a:hover{
	font-color: white;
}
.grid-container3
{
background-color: grey;

padding-left: 50px;
display: grid;
grid-template-columns:300px auto;
grid-template-rows:200px;


}
.div3{
	display:inline;
	text-decoration: none;
	padding-bottom: 20px;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/photographer.jpeg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

